.patient-detail {
	.pain-detail {
		color: #999999;
		font-size: 15Px;
	}

	.pic {
		display: flex;
		flex-wrap: wrap;

		> img {
			width: 45%;
			height: 45%;
			margin: 2.5% 0 0 3.3%;
			background-color: #999999;
		}
	}

	.tag {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.pain {
			display: block;
			margin: 4px;
			font-size: 12px;
			padding: 4px 9px;
			border: 1Px solid #999999;
			border-radius: 5Px;
		}

		.active {
			border-color: #68e3ce;
			color: #68e3ce;
		}
	}

	.button {
		width: 80%;
		margin: 0 auto;
		text-align: center;
		background-color: #68e3ce;
		color: white;
		height: 44Px;
		line-height: 44Px;
		border-radius: 22Px;
		font-size: 16Px;
	}
}
