.am-card {
	background: #68e3ce;
}

.back {
	padding: 10px;
}

.header-img {
	height: 50px;
	border-radius: 50%;
}


.title {
	color: white;
	font-size: 14px;

	> span {
		margin-left: 8px;
	}

	.name {
		font-weight: bold;
	}

	.subject {

	}
}

.hospital {
	color: white;
	margin-top: 5px;

	> span {
		margin-left: 10px;
		font-size: 14px;
	}
}

footer > p {
	margin-top: 5px;
	font-size: 14px;
	color: white;
	margin-left: 8px;
}

.am-accordion-header {
	display: flex;
	justify-content: center;

}

.am-accordion-header {
	color: #999999 !important;
}

.arrow {
	right: 140Px !important;
}
