.patient-index {
	.double-select {
		.am-flexbox .am-flexbox-item {
			margin: 0;
		}

		.am-button {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.am-search {
		height: 40Px;
		background: white;
		line-height: 40Px;

		.am-search-input {
			border-radius: 20Px;
			background: #f8f8f8;
			height: 40Px;
			line-height: 40Px;
		}

		.am-search-synthetic-ph {
			height: 40Px;
			top: 0;
			bottom: 0;
			left: 0;
			margin: 0 auto;
			line-height: 40PX;
		}

		.am-search-value {
			height: 40Px;
			line-height: 40Px;
		}
	}

	.button {
		width: 100%;
		display: flex;
		justify-content: center;
		.am-button{
			width: 100%;
		}
	}
}
