* {
	-webkit-tap-highlight-color: transparent;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", SimSun, sans-serif;
}

.App {
	max-width: 450px;
	margin: 0 auto;
	overflow: hidden;
	background: transparent;
}
a:hover {
	text-decoration: none;
}

html {
	background: transparent !important;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.am-navbar {
	position: fixed;
	max-width: 450px;
	width: 100%;
	z-index: 9999;
}

a:active {
	text-underline: none !important;
}

a:link {
	text-underline: none !important;
}
