.center {
	text-align: center;
	max-width: 100vw;
	max-height: 1000px;
	margin: 20px auto;
}

.avatar {
	@size: 200px;
	width: @size;
	height: @size;
	line-height: @size;
	text-align: center;
	border: 1px dotted #666666;
}
